USE [master]
GO
/****** Object:  Database [InovatecDB]    Script Date: 10/27/2017 11:38:30 AM ******/
CREATE DATABASE [InovatecDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InovatecDB', FILENAME = N'C:\Users\Inovatec-Laptop-02\InovatecDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InovatecDB_log', FILENAME = N'C:\Users\Inovatec-Laptop-02\InovatecDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InovatecDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InovatecDB]
GO
USE [InovatecDB]
GO
/****** Object:  Table [dbo].[tb_application]    Script Date: 10/27/2017 11:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ipv4] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_application] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_application_log]    Script Date: 10/27/2017 11:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_application_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[info] [xml] NOT NULL,
 CONSTRAINT [PK_tb_application_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_service]    Script Date: 10/27/2017 11:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ipv4] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_service_log]    Script Date: 10/27/2017 11:38:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_service_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tb_service_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_application_log]  WITH CHECK ADD  CONSTRAINT [FK_tb_application_log_tb_application] FOREIGN KEY([application_id])
REFERENCES [dbo].[tb_application] ([id])
GO
ALTER TABLE [dbo].[tb_application_log] CHECK CONSTRAINT [FK_tb_application_log_tb_application]
GO
ALTER TABLE [dbo].[tb_service_log]  WITH CHECK ADD  CONSTRAINT [FK_tb_service_log_tb_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[tb_service] ([id])
GO
ALTER TABLE [dbo].[tb_service_log] CHECK CONSTRAINT [FK_tb_service_log_tb_service]
GO
USE [master]
GO
